 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>I am a full stack application developer. I value hard work, difficult problems, and creating solutions that will change the world.</h3>
                    <p>As a developer, I love seeing a product from start to finish. While some developers believe you should pick a speciality and stick with it, I believe I was made to wear many hats and to make them all look good. It's this belief that has driven me to become an okay designer, a not too shabby illustrator, and a professional developer. I am also a husband and father, connoisseur of movies (Never Ending Story, Willo, LOTR), and an advocate for Combos. I currently work as a full stack application developer for Nationwide Children’s Hospital located in Columbus, OH. But talk is cheap, so please see my work below to see what I can do.</p>
                </div>
            </div>
        </div>
    </section>
