 <!-- About Section -->
    <section id="about" class="portfolio-collection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>I am a seasoned software engineer/architect with experience across a range of industries and tech stacks.</h3>
                    <p>I am skilled and passionate about creating frontend architectures with the overall goal of scalability and flexibility, and I have a healthy respect for good design/ux.</p>
                    <p>I believe in creating solutions that benefit all the stakeholders of a product, from the actual customer down to the individual engineer. This includes focusing not only on the code being written, but all the various processes that feed into and out of this process (standups, automated testing, continuous integration, code reviews, etc.).</p>
                    <p>Most recently I have had the chance to help design/create a design system, which has reinforced my passion about good design (both visually and structurally) and has helped me to continue growing as an architect and lead.</p>
                </div>
            </div>
        </div>
    </section>
