
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Work</h2>
                    <hr>

                    <h3>Below is a collection of work spanning a number of years</h3>
                    <p>I believe this work demonstrates the wide range of things I've created. From educational applications to games, I have learned something on every project and have striven to be better as a result.</p>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>