
    <!-- work Grid Section -->
    <section id="work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Work</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for workItem in site.work %}
                    <div class="col-sm-4 work-item">
                        <a href="#workModal-{{ workItem.modal-id }}" class="work-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/work/{{ work.img }}" class="img-responsive" alt="{{ workItem.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>